*{
    font-family: 'Sarabun', sans-serif !important;
    margin:0;
    padding:0;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0;
    color: #D2F9EC;
    width:100vw;
    height:100vh;
    background-color:#4f317d;
    
}
.main{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    /* max-width:500px;
    max-height:320px;     */
    
    margin: 0;
    gap:0;
    overflow: hidden;
    border-radius: 24px !important;
    box-shadow: 5px 8px #2c1849;
}

.header{
    display: flex;
    width: 100vw;
    height: 80px;
}

.main div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-end;
    width:99.99vw;
    height: 100vh;
    background: url('https://i.pinimg.com/originals/97/e0/bd/97e0bdf761c1dabdb5979778aa89a54f.jpg');
    
    /* background-color:#587bbd; */
    padding: 0 8% 0 0;
    gap: 0;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap:16px;
}

.main div:nth-child(2){
    width:60vw;
    height: 100vh;
    background-color:#6287c6;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    gap: 0;
    padding: 4% 2%;
}



h1{
   font-size:1.1em;
    font-weight: 500;
}

#title-work{
    font-size:1.1em;
    font-weight: 800;
}

hr{
    width: 200px;
    margin: 4px 0;
}
a{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration:none;
    width: auto;
    height:24px;
    border-radius:8px;
    border:none;
    color:#D2F9EC;
    font-size:0.9em;
    font-weight: 600;
    gap:8px;
}
a:hover{
    text-decoration: underline;
    animation-duration: 0.8s;
}


@media (max-width:576px){
    .container{
        
        background-color:#7F58BD;
    }
    .main{
        width: 100%; 
        height: auto;
        max-height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:4px;
        background-color:#7F58BD;
        box-shadow: none;
    }
    .main img{    
      max-width: 60px;
    }

    .main div:nth-child(1){
        height: 200px;
    }
    .main div:nth-child(2){
        background-color:#7F58BD;
        height: auto;
        padding: 2%;
    }
    h1{
        font-size:1.2em;
        font-weight: 700;
    }
    #title-work{
        font-size:1.0em;
        font-weight: 600;
    }
    a{
        font-size:1.2em;
        font-weight: 500;
        margin: 2% 0;
    }
    hr{
        margin: 4px 0;
    }
}